@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../public/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../public/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../public/material-icons/MaterialIcons-Regular.woff) format('woff'),
       url(../public/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.cardLogo {
  position: absolute;
  top: 0px;
  width:30px;
  padding: 5px;

  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}
.pmcVisa {
  background-image:url('../public/cards/visa.png');
}
.pmcMasterCard {
  background-image:url('../public/cards/mastercard.png');
}
.pmcAmericanExpress {
  background-image:url('../public/cards/amex.png');
}
.dateSelector::-webkit-scrollbar { 
    display: none; 
}
.hideDock {
  z-index: 9999
}
.dock {
  z-index: 999
}
.ccheckbox {
  width:20px;
  height:20px;
  margin-right: 20px;
}

.right_action_btn{
  position: absolute;
  float: right;
  top:90%;
}
.normal {
  font-size: 20px;

}
.normal_small {
  font-size: 16px;

}
.day_name
{
  position: relative;
  top: 23px;
}
